{% extends "layout.html" %}
{% block title %}RequestBin - {{bin.name}}{% endblock %}
{% block icon %}<link rel="shortcut icon" href="{{bin.favicon_uri}}" />{% endblock %}

{% block sidebar %}{% endblock %}

{% block binurl %}
  <a href="/{{bin.name}}?inspect"><i class="icon-circle icon-2x" style="color: rgb{{bin.color}}"></i></a>
  <input type="text" value="{{base_url}}/{{bin.name}}" onclick="this.select()" />
  {% if bin.private %}<i class="icon-lock"></i>{% endif %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <bin id="{{bin.name}}" base-url="{{base_url}}" color="{{bin.color}}"></bin>

{% endblock %}

